<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Car Sharing</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-color">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#signUp">Sign up</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Nav Login Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-center" id="signIn">Welcome back</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-10 offset-md-1">
                  <form action="/login" class="login" method="post">
                    <input type="email" class="form-control" name="email" placeholder="Email"><br>
                    <input type="password" class="form-control" name="password" placeholder="Password"><br>
                    <div class="text-center">
                      <input class="btn btn-primary" type="submit" value="Log in">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Nav Sign-up Modal -->
    <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="register" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-center" id="register">Let's get started</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-10 offset-md-1">
                  <form action="/sign-up" class="signin" method="post">
                    <input type="text" class="form-control" name="first_name" placeholder="First Name"><br>
                    <input type="text" class="form-control" name="last_name" placeholder="Last Name"><br>
                    <input type="email" class="form-control" name="email" placeholder="Email"><br>
                    <input type="password" class="form-control" name="password" placeholder="Password"><br>
                    <div class="text-center">
                      <input class="btn btn-primary" type="submit" value="Submit">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-center uppercase">checkout</h1>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-5 offset-1">

          <form action="/reservation/<%= confirm.id%>" method="post" class="checkout text-center">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Profile Image
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <input type="file" class="form-control" name="img">
                  </div>
                </div>
              </div>
              <!-- <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Dates
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <label for="from">Start</label>
                    <input type="date" class="form-control" name="from" ><br><br>
                    <label for="to">  End</label>
                    <input type="date" class="form-control" name="to" >
                  </div>
                </div>
              </div> -->
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Contact Information
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email" required><br><br>
                    <input type="name" id="name" class="form-control" name="name" placeholder="Name" required><br><br>
                    <input type="text" id="address" class="form-control" name="address" placeholder="Address" required><br><br>
                    <input type="hidden" id="from" class="form-control" name="from" >
                    <input type="hidden" id="to" class="form-control" name="to" >
                    <input type="hidden" id="price" class="form-control" name="price" >
                    <input type="text" id="city" class="form-control" name="city" placeholder="City" required><br><br>
                    <input type="text" id="state" class="form-control" name="state" placeholder="State" required><br><br>
                    <input type="text" id="zip" class="form-control" name="zip" placeholder="Zip Code" required><br><br>
                    <div class="text-center">
                      <input class="btn btn-primary" id="book" type="submit" value="Book Vehicle">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-5 offset-1">
          <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="/assets/img/<%= confirm.url_img%>" alt="Card image cap">
            <div class="text-center"><img class="image" src="/assets/img/<%= confirm.img%>" alt=""></div>
            <div class="card-body">
              <div><%= confirm.first_name%>'s</div>
              <h5 class="card-title uppercase"><b><%= confirm.make%> <%= confirm.model%></b> <%= confirm.year%></h5>
              <div class="card-text uppercase"><b><%= confirm.trips%> trips</b></div>
              <div></div>
              <div class="container">
                <div class="row">
                  <div class="col-6 no-padding">
                    <b>START:</b>
                    <div class="from-date"></div>
                  </div>
                  <div class="col-6 no-padding">
                    <b>END:</b>
                    <div class="to-date"></div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item uppercase"><b>meeting locations</b> <div><%= confirm.city%>, <%= confirm.state%></div></li>
              <li class="list-group-item">1500 miles included</li>
              <li class="list-group-item">Trip price: $<%= confirm.price%>/day</li>
            </ul>
            <div class="card-body price-color">
              <div class="uppercase"><span class="days"></span>-day trip</div>
              <div class="total">
                <div class="uppercase"><b>trip total: $<span id="total"></span>.00</b></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/assets/js/booking.js"></script>
  </body>
</html>
