<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Car Sharing</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#signUp">Sign up</a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Nav Login Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-center" id="signIn">Welcome back</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-10 offset-md-1">
                  <form action="/login" method="post">
                    <input type="email" class="form-control" name="email" placeholder="Email"><br>
                    <input type="password" class="form-control" name="password" placeholder="Password"><br>
                    <div class="text-center">
                      <input class="btn btn-primary" type="submit" value="Log in">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Nav Sign-up Modal -->
    <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="register" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-center" id="register">Let's get started</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-10 offset-md-1">
                  <form action="/sign-up" method="post">
                    <input type="text" class="form-control" name="first_name" placeholder="First Name"><br>
                    <input type="text" class="form-control" name="last_name" placeholder="Last Name"><br>
                    <input type="email" class="form-control" name="email" placeholder="Email"><br>
                    <input type="password" class="form-control" name="password" placeholder="Password"><br>
                    <div class="text-center">
                      <input class="btn btn-primary" type="submit" value="Submit">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Search -->
    <div class="container-fluid">
      <div class="row">
        <header class="col-sm-12 head-container">
          <h1 class="text-center text-white">Skip the rental counter</h1>
          <p class="text-center text-white">Book unforgettable cars from local hosts around the world</p>
          <form action="/search" method="get" class="text-center search">
              <select class="form-control" name="make" id="">
                <option value="Make" disabled selected>Make</option>
              <% for(let i = 0; i < vehicle.length; i++) {%>
                <option value="<%= vehicle[i].make%>"><%= vehicle[i].make%></option>
              <% } %>
              </select>
            <input type="date" class="form-control" name="from" placeholder="From">
            <input type="date" class="form-control" name="to" placeholder="To">
              <input class="btn btn-primary" type="submit" value="Search">
          </form>
        </header>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="insurance text-center">
            <div class="text-center">Insurance Partner</div>
            <img src="/assets/img/LM.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <br>

    <h1 class="text-center">Way better than a rental car</h1>
    <p class="text-center">Bypass the rental counter and book unforgettable cars from friendly locals</p>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5 offset-1">
          <h4 class="text-center">THE CAR YOU WANT</h4>
          <p class="text-center">Choose from over 800 unique makes and models, from affordable daily drivers to rare specialty cars.</p>
        </div>
        <div class="col-sm-12 col-md-5">
          <h4 class="text-center">WHERE YOU WANT IT</h4>
          <p class="text-center">Pick up the car or get it delivered, wherever you need it, up to 35% less than traditional agencies.</p>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="container-fluid">
      <div class="row">
        <% for(let i = 0; i < vehicle.length; i++) {%>
            <div class="col-sm-12 col-md-4 main-vehicle">
              <div class="card-deck">
                <div class="card">
                  <a href="/rental/<%= vehicle[i].id%>">

                  <img class="card-img-top" src="/assets/img/<%= vehicle[i].url_img%>" alt="Card image cap">
                </a>
                  <div class="card-body">
                    <h5 class="card-title"><%= vehicle[i].make%> <%= vehicle[i].model%> <%= vehicle[i].year%></h5>
                    <div class="card-text"><%= vehicle[i].trips%> trips</div>
                    <div class="text-right">$<%= vehicle[i].price%></div>
                    <div class="text-right">per day</div>
                  </div>
                </div>
              </div>
            </div>

        <% } %>
        <br><br>
      </div>
    </div>
    <br>
    <br>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
