<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./assets/css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Owner Page</title>
  </head>
  <body>
    <div class="header bg-dark fixed-top" >

   <h1 class="text-white text-center">Welcome back,  <%= owner.first_name %></h1>

    </div>
    <div class="container">
      <h5><a href="/addcar">Add New Vehicle </a></h5>


      <h3>Your cars</h3><br>


      <% for (let i=0;i<vehicles.length; i++) { %>

        <div class="">

         <div style="display:flex; margin-left: 30px">
           <img src="./assets/img/<%=vehicles[i].url_img%>" width="700">


             <form class="vehicle_edit" action="/editvehicle/<%=vehicles[i].id%>" method="post">
               <input type="text" name="make" value="<%=vehicles[i].make%>">:Make<br>
               <input type="text" name="model" value="<%=vehicles[i].model%>">Model<br>
               <input type="text" name="year" value="<%=vehicles[i].year%>">Year<br>
               <input type="text" name="price" value="<%=vehicles[i].price%>">Price<br>
               <input type="text" name="odometer" value="<%=vehicles[i].odometer%>">Odometer<br>
               <input type="text" name="transmission" value="<%=vehicles[i].transmission%>">Transmission<br>
               <input type="text" name="doors" value="<%=vehicles[i].doors%>">Doors<br>
               <input type="text" name="mpg" value="<%=vehicles[i].mpg%>">MPG<br>
               <input type="text" name="gas" value="<%=vehicles[i].gas%>">Gas<br>
               <input type="text" name="seats" value="<%=vehicles[i].seats%>">Seats<br>
               <input type="text" name="url_img" value="<%=vehicles[i].url_img%>">Img URL<br>
               <input type="text" name="city" value="<%=vehicles[i].city%>">City<br>
               <input type="text" name="state" value="<%=vehicles[i].state%>">State<br>
               <textarea name="description" value="<%=vehicles[i].description%>"><%=vehicles[i].description%> </textarea><br>
               <input type="text" name="instructions" value="<%=vehicles[i].instructions%>">Instructions<br>

               <button type="submit">Update Info</button><br>
               <a href ="/deletevehicle/<%=vehicles[i].id%>" class ="vehicle_update">Delete Vehicle</a>
             </form>

         </div>

         <div class="vehicleinfo">
           <h3><%=vehicles[i].make%>  <%=vehicles[i].model%></h3> <h5 class="text-right">  <%=vehicles[i].year%></h5>


         </div>
         <h5>$<%=vehicles[i].price%>/Day</h5>
           <hr>


         </div>

      <% } %>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
